.container{
    background-color: #eeefef;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.3s ease-in-out;

}
.sidebarOpen {
    transform: translateX(0px);
  }

.navbar{
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    min-height: 60px;
    height: 6%;
    width: 95%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 0.5rem;
    transition: transform 0.3s ease-in-out;

}
.contentOpen {
    transform: translateX(15px);
  }

.line{
    width: 100%;
    background-color:var(--Color-2);
    height:10px;
    margin-top:5px;
    box-shadow:var(--box-shadow);
    transition:transform 1s
  }
  
  .hamburguer{
    width:30px;
    height: 25px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    cursor:pointer;
  }



