.register{
    text-align: center;
}
.error{
    color: var(--Color-error);
    font-family: var(--font-Montserrat);
    font-size: 20px;
}
.confirm{
    color: green;
    font-family: var(--font-Montserrat);
    font-size: 20px;
}