.img-wrapper{
    width: var(--width-max);
    height: var(--heigth-max);
    overflow: hidden;
    background-color: #000;
}
.img-wrapper img{
    width: var(--width-max);
    height: var(--heigth-max);
    object-fit: cover;
    opacity: 0.5;
}
header{
  width: var(--width-max);
  height: 98vh;
  position: relative;
}
.banner{
    top: 30%;
    left: 15%;
    position: absolute;
}
.banner h1{
    font-size: 45px;
    color:var(--Color-1);
    text-shadow:var(--text-Shadow);
    font-family: var(--font-Josefin-Sans);
    margin-bottom: 10px;
}
.banner p{
    font-size: 25px;
    color:var(--Color-1);
    margin-bottom: 50px;
    font-family: var(--font-Josefin-Sans);
    text-shadow: var(--text-Shadow);
}
button{
    font-family: var(--font-Josefin-Sans);
    padding: 10px;
    font-size: 17px;
    background-color:var(--Color-1);
    border: transparent;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
}
button:is(:hover,:focus){
    cursor: pointer;
    background-color: var(--Color-2);
    color: var(--Color-1);
    border: solid 1px #fff;

}