.form{
    height: 2vh;
    margin-top: 7%;
}
.form h1{
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--font-Josefin-Sans);
}
.form label{
    font-family: var(--font-Josefin-Sans);
    font-weight: bold;
    font-size: 16px;
}
.btn{
    background-color: var(--Color-1);
    color: var(--Color-2);
    font-family: var(--font-Josefin-Sans);
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    margin-left: 40%;
}
.btn:is(:hover,:focus){
    background-color: green;
    cursor: pointer;
}