.Navbar{
    display: flex;
    width: var(--width-max);
    background-color: var(--Color-1);
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.Navbar ul{
    display: flex;
    list-style: none;
}
.Navbar ul li a{
    margin-left: 15px;
    font-weight: bold;
    color: var(--Color-2);
    font-family:"Montserrat";
    text-decoration: none;
}

.active{
    border: solid 2px var(--Color-2);
    padding: 5px;
    border-radius: 10px;
}


.icon{
    color: var(--Color-2);
    font-size: 25px;
    margin-top: -5px;
}
