.container{
  position: fixed;
  z-index: 99;
  top: 0;
  height: 100vh;
  left: -16rem;
  width: 250px;
  background-color: var(--Color-1);
  transition: all 0.5s ease-in-out;
}
.active  {
    left: 0;
}
.rotate{
  transform: rotate(180deg);
}
.arrow{
 margin-top: 2px;
}
.btnDashboard{
  background-color: var(--Color-1);   
  border-radius: none; 

}
.btnDashboard:is(:hover, :focus){
  color: var(--Color-2);
  border-radius: 0px;
  background-color: transparent;
  border: transparent;
  
}
.item{
 justify-content: center;
 display: block;
 margin-top: 10px;
 margin-left: 15px;
}
.item li{
  list-style: none;
  margin-top: 10px;
}
li .active{
  color: var(--Color-2);
}
.item li a{
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-Josefin-Sans);
}
.dropdownToggle{
  background-color: transparent;
}